<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>NIST HL7 web services</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list> 
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/hl7ws-context.xml
			/WEB-INF/hl7ws-servlet.xml
		</param-value>
	</context-param>
	
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	
<!-- 	<listener>
		<listener-class>
			gov.nist.healthcare.mu.core.stat.servlet.StatSessionListener
		</listener-class>
	</listener> -->
	
	<listener>
        <listener-class>
        	gov.nist.healthcare.hl7ws.Log4jConfigListener
        </listener-class>
    </listener>
	
	<!-- Spring dispatcher servlet configuration -->
	<servlet>
		<servlet-name>hl7ws</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup> 
	</servlet> 
	<servlet-mapping>
		<servlet-name>hl7ws</servlet-name>
		<url-pattern>*.htm</url-pattern>
	</servlet-mapping> 
	
	<!-- CXF Servlet configuration -->
	<servlet>
		<servlet-name>cxf</servlet-name>
		<servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>	
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>cxf</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
	
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>  
	
	<filter>
              <filter-name>StatFilter</filter-name>
              <filter-class>gov.nist.healthcare.mu.core.stat.servlet.StatFilter</filter-class>
    </filter>
    <filter-mapping>
              <filter-name>StatFilter</filter-name>
              <servlet-name>Faces Servlet</servlet-name>
    </filter-mapping>
	 
</web-app>